# Build output directories
x64/
Debug/
Release/
ipch/

# Visual Studio build intermediates
Win11MonitorMgr/x64/
Win11MonitorMgr/.vs/
Win11MonitorMgr/BuildTools/

# Compiler / linker intermediates
*.obj
*.i
*.pch
*.idb
*.pdb
*.tlog
*.log
*.ilk

# Binaries
*.exe
*.dll
*.sys

# Visual Studio user-specific files
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# IDE folders
.vs/
.idea/
.claude/

CLAUDE.md

# Other temporary files
*.tmp
*.cache
nul
